*.vvp
*.vcd

quartus/UNO/db/
quartus/UNO/incremental_db/
quartus/UNO/output_files/
quartus/UNO/simulation/
quartus/UNO/timing/
quartus/UNO/.qsys_edit/
quartus/UNO/greybox_tmp/
quartus/UNO/hc_output/
quartus/UNO/*.qws
quartus/UNO/*.rpt
quartus/UNO/*.summary
quartus/UNO/*.smsg
quartus/UNO/*.done
quartus/UNO/*.pin
quartus/UNO/*.jdi
quartus/UNO/*.sld
quartus/UNO/*.qar
quartus/UNO/*.bak

modelsim/UNO/work/
modelsim/UNO/transcript
modelsim/UNO/*.wlf
modelsim/UNO/*.ucdb

entrega/*.zip

*~
.DS_Store
Thumbs.db
